{{ partial "header.html" . }}

<main role="main">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="entry-title" itemprop="headline"><i class="fa fa-book"></i>&nbsp;{{ .Title }}</h1>
        <span class="entry-meta">
            <time itemprop="datePublished" datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
        </span>
        <span class="entry-meta">
          {{ if isset .Params "categories" }}
              {{ $baseUrl := .Site.BaseURL }}
              {{ range .Params.categories }}
              <i class="fa fa-pencil"></i>
              <a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>&nbsp;
              {{ end }}
          {{ end }}
        </span>
        <section itemprop="entry-text">
            {{ .Content }}
        </section>
        <div class="hr"></div>
        <div>
            {{ if .Prev }}
            <div>
              <a class="previous" href="{{ .Prev.Permalink }}"> {{ .Prev.Title }}</a>
              <i class="fa fa-arrow-left"></i>
            </div>
            {{ end }}
            {{ if .Next }}
            <div>
              <i class="fa fa-arrow-right"></i>
              <a class="next" href="{{ .Next.Permalink }}"> {{ .Next.Title }}</a>
            </div>
            {{ end }}
        </div>
        {{ partial "share.html" . }}
    </article>
</main>

{{ partial "footer.html" . }}
