<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.BaseUrl }}/{{ .Site.Params.logo }}" />
<meta property="og:locale" content="ja_JP">
<meta name="twitter:site" content="@grimrose">
<meta name="twitter:card" content="summary">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/normalize.css">
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/skeleton.css">
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/custom.css">
<link rel="alternate" href="{{ .Site.BaseUrl }}/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
{{ $isHomePage := eq .Title .Site.Title }}
<title>{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
<meta property="og:title"  content="{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" />
</head>
<body>

<div class="container">

	<header role="banner">
		<div class="header-logo">
			<a href="/"><img src="{{ .Site.BaseUrl }}/{{ .Site.Params.logo }}" width="60" height="60"></a>
		</div>
		{{ if eq $isHomePage true }}<h1 class="site-title">{{ .Site.Title }}</h1>{{ end }}
	</header>
